# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties
# top-most EditorConfig file
root = true

[*]
# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true
# Set default charset
charset = utf-8
# Indentation override for all JS under lib directory
indent_style = space
indent_size = 4
# set to true to remove any whitespace characters preceding newline characters 
trim_trailing_whitespace = true

[*.md]
# Forces hard line wrapping after the amount of characters specified. off to turn off this feature (use the editor settings).
max_line_length = off
trim_trailing_whitespace = false

